[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
dash = "==1.9.1"
dash-bootstrap-components = "*"
gunicorn = "*"
plotly = "*"
pandas = "==1.0.3"
joblib = "==0.14.1"
scikit-learn = "==0.22.2.post1"
category-encoders = "==2.2.2"
pandas-datareader = "==0.8.1"
numpy = "==1.18.3"
matplotlib = "==3.2.1"
seaborn = "==0.10.1"
xgboost = "==0.90"
sklearn = "==0.22"
pipenv = "*"

[requires]
python_version = "3"
